#t1 {
  text-align: center;
  color: #3FC4D7;
  font-family: "Purisa";
  font-size: 16pt;
  margin: 10pt;
}
canvas {
  width: 400px;
  height: 200px;
  margin: 10px;
  border:2px solid #000000;
  background-color: #D4D41F;
}
body {
  background: #F5DDC7;
  margin: 20px;
}
input {
  background-color: #CACECE;
}
