h1 {
  text-align: center;
  font-size: 50px;
  color: #078BE3;
  font-family: "Comic Sans MS";
}
body{
  background-color: #02304F;
  margin: 50px;
}
canvas{
  width: 300px;
  height: 300px;
  border:2px solid #000000;
  background-color: #FFEECF;
  margin: 20px;
}
p{
  color: #078BE3;
}
